<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Units</key>
		<array>
			<dict>
				<key>icon</key>
				<string>73.jpg</string>
				<key>name</key>
				<string>矿骡</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>74.jpg</string>
				<key>name</key>
				<string>SCV</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>75.jpg</string>
				<key>name</key>
				<string>陆战队员</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>76.jpg</string>
				<key>name</key>
				<string>收割者</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>77.jpg</string>
				<key>name</key>
				<string>Ghost</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>78.jpg</string>
				<key>name</key>
				<string>掠夺者</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>79.jpg</string>
				<key>name</key>
				<string>火车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>80.jpg</string>
				<key>name</key>
				<string>攻城坦克</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>81.jpg</string>
				<key>name</key>
				<string>雷神</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>82.jpg</string>
				<key>name</key>
				<string>医疗运输机</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>83.jpg</string>
				<key>name</key>
				<string>渡鸦</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>84.jpg</string>
				<key>name</key>
				<string>机枪炮台</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>85.jpg</string>
				<key>name</key>
				<string>女妖</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>86.jpg</string>
				<key>name</key>
				<string>维京战机</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>87.jpg</string>
				<key>name</key>
				<string>战略巡航舰</string>
			</dict>
		</array>
		<key>Title</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>Units</key>
		<array>
			<dict>
				<key>icon</key>
				<string>88.jpg</string>
				<key>name</key>
				<string>军械库</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>89.jpg</string>
				<key>name</key>
				<string>兵营</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>90.jpg</string>
				<key>name</key>
				<string>地堡</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>91.jpg</string>
				<key>name</key>
				<string>作战指挥中心</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>92.jpg</string>
				<key>name</key>
				<string>工程站</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>93.jpg</string>
				<key>name</key>
				<string>重工厂</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>94.jpg</string>
				<key>name</key>
				<string>核反应中心</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>95.jpg</string>
				<key>name</key>
				<string>幽灵学院</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>96.jpg</string>
				<key>name</key>
				<string>防空炮台</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>97.jpg</string>
				<key>name</key>
				<string>星轨指挥中心</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>98.jpg</string>
				<key>name</key>
				<string>行星要塞</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>99.jpg</string>
				<key>name</key>
				<string>双倍反应炉</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>100.jpg</string>
				<key>name</key>
				<string>瓦斯气罐</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>101.jpg</string>
				<key>name</key>
				<string>感应塔</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>102.jpg</string>
				<key>name</key>
				<string>神经干扰装置</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>103.jpg</string>
				<key>name</key>
				<string>飞机场</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>104.jpg</string>
				<key>name</key>
				<string>补给站</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>105.jpg</string>
				<key>name</key>
				<string>科技实验室</string>
			</dict>
		</array>
		<key>Title</key>
		<string>Building</string>
	</dict>
</array>
</plist>
